.display-page-div{
    padding: 171px;
    width: 373px; 
}

 .optimised-svg-div-false{
    :hover{
        background-color:#FFC0CB;
    }
 }


  .className-1{
      :hover{
         background-color: yellow;
         fill:yellow;

      }
      
  }

 svg{
    margin-top: 94%;
    padding-left: 22%;
 }
  
