.display-page-div{
    padding: 171px;
    width: 373px; 
}

 .optimised-svg-div-false{
    :hover{
        background-color:#FFC0CB;
    }
 }

 rect:hover {
    background-color: yellow;
    fill:green($color: #000000);
  }

  .className-1{
      :hover{
         background-color: yellow;
         fill:yellow;

      }
      
  }

  a:hover{
     fill:yellow;
  }
  
  

 .optimised-svg-div-true{
    background-color: #FFC0CB;
 }

 .original-svg-div , .optimised-svg-div{
      float: left;
      box-sizing: border-box;
      width: 50%;
      height: 50%;
 }