.navbar{
    display: flex;
    height: 60px;
    background-color: #bcda12;
    align-items: center;

    a{
        color: #000000;
        text-decoration: none;
        padding: 5px;
    }
    a:hover{
        background-color: #abc514;
    }
}

.navbar-divider{
    font-size: 59px;
    margin-top: -30px;    
}