.checkbox-container-clicked {
	background-color: yellow;
	width: 200px;
	height: 90px;
	margin: 0 auto;
}

.checkbox-container-unclicked {
	background-color: green;
	width: 200px;
	height: 90px;
	margin: 0 auto;
}

.checkbox-input,
.checkbox-label {
	margin-top: 12%;
	margin-left: 12%;
}
