.checkbox-container-clicked {
  background-color: #b5cfe1;
}

.checkbox-container-unclicked {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}


.checkbox-input-svg,
.checkbox-label-svg {
  padding-left: 3%;
}

.main {
  display: flex;
  flex-direction: column;
}

.file {
  display: flex;
      padding: 2%;
}

.hide-file-list {
  display: none;
}
.card-settings {
  height: 350px;
  overflow-y: scroll;
  background-color:#b5cfe1 ;
  width: 600px;
}

.home-display-class {
  display: flex;
}
.choose {
  width: 50%;
}
.display {
  width: 50%;
}

.optimize-button{
  text-align: center;
  display: inline-block;
  justify-items: center;
  width:100px;
  height: 70px;
  border-radius: 35px;
  background-color: #b5cfe1;
  align-items: center;
}

// .download-Button{
//     padding-left: 50%;
//     padding-top: 3%;
// }
.download-Button {
  text-align: center;
  display: inline-grid;
  justify-items: center;
  width: 100px;
  height: 70px;
  border-radius: 35px;
  background-color: #b6e1b5;
  align-items: center;
  position: fixed;
}
.optimise-button-div{
  display: flex;
  justify-content: center;

}


